body {
  font-family: times new roman; /* Базовый шрифт */
  background-color: #f0f0f0; /* Цвет фона */
  color: #333; /* Цвет текста */
  margin: 0; /* Убирает стандартные отступы браузера */
  padding: 40px; /* Добавляет внутренний отступ */
  line-height: 1.6; /* Высота строки для лучшей читаемости */
}